@charset "utf-8";

div > h1{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    font-size: 80px;
    margin: 40px;
}
div > h1 span{
    font-size: 100px;
}
div > h3{
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
}
#main{
    width: 600px;
    height: 700px;
    border:3px solid #333;
    border-radius: 8px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-300px,-350px);
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    
}
input{
    width: 200px;
    height: 30px;
    margin: 5px;
    border-radius: 4px;
}
button{
    width: 200px;
    height: 30px;
    margin: 5px;
    background-color: #87ceeb;
    cursor: pointer;
    color:#eee;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
}
button:hover{
    opacity: 0.8;
}